/* ═══ 셀프호스트 웹폰트 — Jua · Gowun Dodum ═══
   원본: Google Fonts (https://fonts.google.com) — SIL Open Font License 1.1
   전체 글리프를 담은 완본 woff2 1개씩 사용.
   (이전에는 unicode-range 서브셋 182개로 분할했으나, 학교망·태블릿에서 조각 일부가
    로드되지 않아 시스템 글꼴로 대체되는 '폰트 깨짐'이 발생하여 완본 2개로 통합함) */
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/jua.woff2) format('woff2');
}
@font-face {
  font-family: 'Gowun Dodum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/gowun-dodum.woff2) format('woff2');
}
